// 
// general.scss
//

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 60px;
  overflow-x: hidden;
}

.p-datatable-tbody .p-highlight {
  color: unset !important;
  background-color: unset !important;
}

.p-selection-column .p-highlight {
  background-color: #007ad9 !important;
  color: #ffffff !important;
}